        {% load static %}
        <aside id="sidebar" class="bg-indigo-900 text-white p-6 shadow-lg flex flex-col flex-shrink-0">
            <div class="flex items-center gap-4 border-b border-indigo-800 pb-4 mb-6">
                <img
                    src="{% static 'images/ScheduleEase1.png' %}"
                    class="w-16 h-16 rounded-full bg-white dark:bg-gray-200"
                    alt=""
                />
                <h2 class="text-[18px] font-bold leading-tight tracking-[-0.015em] text-gray-100 logo-text">ScheduleEase</h2>
            </div>

            <nav class="flex-grow">
                <ul>
                    <li class="mb-2">
                        <a href="{% url 'dashboard' %}" class="flex items-center p-2 rounded-md text-gray-300 hover:bg-indigo-800 hover:text-indigo-200 transition-colors duration-200" data-page-title="لوحة التحكم">
                            <i class="fas fa-chart-line sidebar-icon"></i>
                            <span class="nav-text">لوحة التحكم</span>
                        </a>
                    </li>
                    <li class="mb-2">
                        <a
                        href="{% url 'teachers_management' %}"
                        class="flex items-center p-2 rounded-md text-gray-300 hover:bg-indigo-800 hover:text-indigo-200 transition-colors duration-200" data-page-title="إدارة المدرسين">
                            <i class="fas fa-chalkboard-teacher sidebar-icon"></i>
                            <span class="nav-text">إدارة المدرسين</span>
                        </a>
                    </li>
                    <li class="mb-2">
                        <a
                        href="{% url 'courses_management' %}"
                        class="flex items-center p-2 rounded-md text-gray-300 hover:bg-indigo-800 hover:text-indigo-200 transition-colors duration-200" data-page-title="إدارة المقررات">
                            <i class="fas fa-book-open sidebar-icon"></i>
                            <span class="nav-text">إدارة المقررات</span>
                        </a>
                    </li>
                    <li class="mb-2">
                        <a
                        href="{% url 'rooms_management' %}"
                        class="flex items-center p-2 rounded-md text-gray-300 hover:bg-indigo-800 hover:text-indigo-200 transition-colors duration-200" data-page-title="إدارة القاعات">
                            <i class="fas fa-door-closed sidebar-icon"></i>
                            <span class="nav-text">إدارة القاعات</span>
                        </a>
                    </li>
                    <li class="mb-2">
                        <a
                        href="{% url 'departments_management' %}"
                        class="flex items-center p-2 rounded-md text-gray-300 hover:bg-indigo-800 hover:text-indigo-200 transition-colors duration-200" data-page-title="إدارة المستويات">
                            <i class="fas fa-layer-group sidebar-icon"></i>
                            <span class="nav-text">إدارة الاقسام والمستويات</span>
                        </a>
                    </li>
                    <li class="mb-2">
                        <a
                        href="{% url 'management_periods' %}"
                        class="flex items-center p-2 rounded-md text-gray-300 hover:bg-indigo-800 hover:text-indigo-200 transition-colors duration-200" data-page-title="إدارة الفترات الدراسية">
                            <i class="fas fa-clock sidebar-icon"></i>
                            <span class="nav-text">إدارة الفترات الدراسية</span>
                        </a>
                    </li>
                    <li class="mb-2">
                        <a href="{% url 'groups_management' %}"
                        class="flex items-center p-2 rounded-md text-gray-300 hover:bg-indigo-800 hover:text-indigo-200 transition-colors duration-200" data-page-title="إدارة المجموعات ">
                            <i class="fas fa-calendar-check sidebar-icon"></i>
                            <span class="nav-text">إدارة المجموعات </span>
                        </a>
                    </li>
                    <li class="mb-2">
                        <a
                        href="{% url 'schedule_creation' %}"
                        class="flex items-center p-2 rounded-md text-gray-300 hover:bg-indigo-800 
                        hover:text-indigo-200 transition-colors duration-200" data-page-title="إعداد الجداول">
                            <i class="fas fa-calendar-alt sidebar-icon"></i>
                            <span class="nav-text">إعداد الجداول</span>
                        </a>
                    </li>
                    <li class="mb-2">
                        <a
                        href="{% url 'table' %}"
                        class="flex items-center p-2 rounded-md text-gray-300 hover:bg-indigo-800 hover:text-indigo-200 transition-colors duration-200" data-page-title="عرض الجداول">
                            <i class="fas fa-calendar-check sidebar-icon"></i>
                            <span class="nav-text">عرض الجداول</span>
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="mt-auto pt-6 border-t border-indigo-800">
                <a
                href="{% url 'logout' %}" 
                class="flex items-center p-3 rounded-md text-gray-300 hover:bg-red-700 hover:text-white transition-colors duration-200" data-page-title="تسجيل الخروج">
                    <i class="fas fa-sign-out-alt sidebar-icon"></i>
                    <span class="logout-text">تسجيل الخروج</span>
                </a>
            </div>
        </aside>